body, html {
    margin: 0;
    padding: 0;
    background-color: white;
}

.sponsor-title-container {
    background-image: url('group-photo2.jpg');
    background-color: white;
    height: 93vh;
    text-align: center;
    display: flex;
    flex-direction: column; /* Add this line to stack elements vertically */
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center center;
    padding: 0;
    margin-bottom: 2%;
}

.sponsor-us-text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 9em;
    letter-spacing: 0px;
    font-weight: 900;
    color: white;
}



/*--------------------------------------------------------------------------------------------------------------------------*/

.support-option-container {
    background-color: white;
    max-width: 95vw;
}

.opt-img {
    height: 50vh;
    width: auto;
    margin-left: 5%;
    margin-right: 5%;
}

.opt-text-container {
    padding-left: 2%;
    padding-right: 2%;
}

.opt-container {
    display: flex;
    margin-bottom: 5%;
}

.opt-text-container {
    flex: 1;
}

.opt-image-container {
    flex-shrink: 0;
    margin-left: 20px;
}


.intro-option-container .opt-text-container,
.option-2-container .opt-text-container,
.option-4-container .opt-text-container {
    text-align: left;
    margin-right: auto;
}

.intro-option-container .opt-image-container,
.option-2-container .opt-image-container,
.option-4-container .opt-image-container {
    margin-left: auto;
}

/* Option 1 and option 3 */
.option-1-container .opt-text-container,
.option-3-container .opt-text-container {
    text-align: right;
    margin-left: auto;
}

.option-1-container .opt-image-container,
.option-3-container .opt-image-container {
    margin-right: auto;
}


.opt-heading {
    text-align: center;
    font-size: 5vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.opt-text {
    text-align: center;
    font-size: 3vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}