body, html {
    margin: 0;
    padding: 0;
    background-color: white;
}

.ways-to-sponsor{
    width:80vh;
    margin:auto;
}

.ways-to-sponsor-img{
    width: 20vh;
    border-right:1px solid rgba(0, 0, 0, .125);
}

.sponsor-level{
    margin:1%;
}

td{
    font-family:"Inter", sans-serif;
    font-weight: 400;
    font-style:normal;
    font-optical-sizing: auto;
}

th{
    font-weight: 600;
}




/*--------------------------------------------------------------------------------------------------------------------------*/

.support-option-container {
    background-color: white;
    max-width: 95vw;
}

.opt-img {
    height: 50vh;
    width: auto;
    margin-left: 5%;
    margin-right: 5%;
}

.opt-text-container {
    padding-left: 2%;
    padding-right: 2%;
}

.opt-container {
    display: flex;
    margin-bottom: 5%;
}

.opt-text-container {
    flex: 1;
}

.opt-image-container {
    flex-shrink: 0;
    margin-left: 20px;
}


.intro-option-container .opt-text-container,
.option-2-container .opt-text-container,
.option-4-container .opt-text-container {
    text-align: left;
    margin-right: auto;
}

.intro-option-container .opt-image-container,
.option-2-container .opt-image-container,
.option-4-container .opt-image-container {
    margin-left: auto;
}

/* Option 1 and option 3 */
.option-1-container .opt-text-container,
.option-3-container .opt-text-container {
    text-align: right;
    margin-left: auto;
}

.option-1-container .opt-image-container,
.option-3-container .opt-image-container {
    margin-right: auto;
}


.opt-heading {
    text-align: center;
    font-size: 5vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.opt-text {
    text-align: center;
    font-size: 3vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}